*.class

# Package Files #
*.jar
*.war
*.ear

# netbeans
nbproject/private/
build/
nbbuild/

# the dist file could make some problems
# dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Mac
.DS_Store
/dist/